body {
    background-color: lightblue;
	text-align: center;
}

h1 {
	font-family: 'Baloo', cursive;
    color: DarkGrey;
    text-align: center;
}

p {
text-align: center;
    font-family: 'Baloo', cursive;
    font-size: 20px;
}

img {
	max-width: 500px;
    	margin: auto;
}

a {
	text-align: center;
	font-family: 'Baloo', cursive;
    	color: DarkGrey;
}
.search-listing {
	position: relative;
}

.search-image {
	width: 100%;
	height: auto;
}

.search-link {
	position: absolute;
	color: white;
	font-weight: bold;
	font-size: 350%;
	text-shadow: 2px 2px #666;
	text-decoration: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

