body {
    background-color:dimgrey;
	text-align: center;
    font-family: 'Catamaran', cursive;
    color: lightgray;
}



p {
    text-align: center;
    font-family: 'Catamaran', cursive;
    font-size: 20px;
}

img {
	max-width: 1000px;
    	margin: auto;
}

a {
	text-align: center;
	font-family: 'Catamaran', cursive;
    color: lightgrey;
    text-decoration: none;
}

.search-listing {
	position: relative;
}

.search-image {
	width: 100%;
	height: auto;
}

.search-link {
	position: absolute;
	color: white;
	font-weight: bold;
	font-size: 350%;
	text-shadow: 2px 2px #666;
	text-decoration: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.introtext {
    margin: 0 auto;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    max-height: 250px;
    max-width: 700px;
    
}

 
input[type=text] {
    width:300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: whitesmoke;
    background-image: url('searchicon.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 30px;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    align-content: center;
}

input[type=text]:focus {
    width: 60%;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid, whitesmoke;
    background-color: whitesmoke;
    
}

/* Style the buttons inside the tab */
div.tab a {
    background-color: inherit;
    float: relative;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Catamaran', serif;
    text-decoration: none;
    display: inline-block;
}

/* Change background color of buttons on hover */
div.tab a :hover {
    background-color: pink;
    color: aqua;
    
}

div.tab a :visited {
    color: mediumpurple;
    font-family: 'Martel', serif;
}

/* Create an active/current tablink class */
div.tab a.active {
    background-color: lightpink;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
a.tablinks {
    font-family: 'Martel', sans-serif;
    color: black;
    font-size: 25px;
    
    
}

.course_details {
    font-family: 'Martel', serif;
    text-align: center;
    color: white;
    font-size: 50px;
}

.course-name {
    font-family: 'Assistant', sans-serif;
    color: lightgrey;
    text-align: center;
}

h1 {
    font-family: 'Assistant', sans-serif;
    color: lightgrey;
    text-align: center;
}

h2 {
    font-family: 'Assistant', sans-serif;
    color: lightgrey;
    text-align: center;
    font-size: 30px;
}

.SwoonUniversityText {
    font-family: 'Martel', serif;
    text-align: center;
    color: white;
    font-size: 70px;
    
}

.HomeButton {
    background-color: lightgray;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.basket {
    font-family: 'Assistant', sans-serif;
    color: black;
    text-align: right;
    padding: 25px, 25px;
    font-weight: 200px;
    background-color: whitesmoke;
    border: none;
    font-size: 20px;
}