body {
    background-color:dimgrey;
	text-align: center;
}

}

p {
text-align: center;
    font-family: 'Baloo', cursive;
    font-size: 20px;
}

img {
	max-width: 1000px;
    	margin: auto;
}

a {
	text-align: center;
	font-family: 'Baloo', cursive;
    	color: DarkGrey;
}
.search-listing {
	position: relative;
}

.search-image {
	width: 100%;
	height: auto;
}

.search-link {
	position: absolute;
	color: white;
	font-weight: bold;
	font-size: 350%;
	text-shadow: 2px 2px #666;
	text-decoration: none;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.introtext {
    margin: 0 auto;
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    max-height: 250px;
    max-width: 500px;
    
}

 
input[type=text] {
    width:600px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: whitesmoke;
    background-image: url('searchicon.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    align-content: center;
}

input[type=text]:focus {
    width: 100%;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid, whitesmoke;
    background-color: whitesmoke;
    
}

/* Style the buttons inside the tab */
div.tab a {
    background-color: inherit;
    float: relative;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font: 13.3333px Arial;
    text-decoration: none;
    display: inline-block;
}

/* Change background color of buttons on hover */
div.tab a :hover {
    background-color: #ddd;
    
}

div.tab a :visited {
    color: #000;
}

/* Create an active/current tablink class */
div.tab a.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
a.tablinks {
    font-family: 'Assistant', sans-serif;
    color: black;
    
}

.course_details {
    font-family: 'Assistant', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
}

.course-name {
    font-family: 'Assistant', sans-serif;
    color: lightgrey;
    text-align: center;
}

.SwoonUniversityText {
    font-family: 'Martel', serif;
    text-align: center;
    color: white;
    
}

